.hardbulls-ballpark-info {
    justify-content: center;
    padding: 20px;
    display: flex;
    row-gap: 20px;
    column-gap: 10px;
    flex-wrap: wrap;
}

.hardbulls-field-section-item {
    display: flex;
    width: 300px;
    align-items: center;
    column-gap: 10px;
}
