.hb-upcoming-games-components {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-md);
    justify-content: flex-start;
    justify-items: center;
    margin-top: var(--gap-md);

}

.hb-upcoming-games-components-team-logo {
    display: inline-block;
    min-width: 32px;
}

.hb-upcoming-games-components-game {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 6px;
}
