.hb-upcoming-games-components {
    gap: var(--gap-md);
    margin-top: var(--gap-md);
    display: grid;
    grid-template-columns: 1fr 1fr;

}

@media (max-width: 756px) {
    .hb-upcoming-games-components {
        grid-template-columns: 1fr;
    }
}

.hb-upcoming-games-components-team-logo {
    display: inline-block;
    min-width: 32px;
}

.hb-upcoming-games-components-game {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 6px;
}

.hb-upcoming-games-components-game-canceled {
    position: relative;
    text-decoration: line-through;
    text-decoration-color: var(--color-bulls-dark-red);
    text-decoration-thickness: 2px;
}

.hb-upcoming-games-components-game-canceled a {
    color: var(--text-default)
}

.hb-upcoming-games-components-game-canceled img {
    filter: grayscale(0.5);
    opacity: 0.8;
}
