.hardbulls-upcoming-game-league {
    margin-bottom: 10px;
    min-width: 350px;
}

.hardbulls-upcoming-game-league:last-child {
    margin-right: 0;
}

.hardbulls-team-logo-small {
    max-width: 100%;
    max-height: 100%;
    margin-top: -10px;
    transform: translateY(10px);
}

.hardbulls-upcoming-games {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    justify-content: center;
}

@media(min-width: 461px) {
    .hardbulls-upcoming-games {
        justify-content: center;
    }
}

@media(max-width: 460px) {
    .hardbulls-upcoming-games {
        justify-content: flex-start;
    }
}
