.hb-league-component {
    width: 100%;
}

.hb-league-component-content {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-md);
}

.hb-league-component-season {
    font-size: var(--font-size-sm);
    font-weight: bold;
}

.hb-league-component-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    row-gap: var(--gap-sm);
    column-gap: var(--gap-sm);
    width: 100%;
}

.hb-league-component-logo {
    background-color: var(--background-inverted-transparent);
    width: 100%;
    display: flex;
    justify-content: center;
}

.hb-league-component-logo img {
    max-width: 180px;
    padding: 10px;
}

.hb-league-component-description {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-md);
    min-width: 260px;
}

.hb-league-component-standings {
    flex-direction: column;
    min-width: 300px;
    max-width: 460px;
    display: flex;
}

.hb-league-component-games {
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--gap-sm);
    column-gap: var(--gap-sm);
    justify-content: space-evenly;
}

.hb-league-component-standings-tab-link {
    font-size: var(--font-size-md);
    margin-left: 6px;
    margin-right: 6px;
    padding: 4px;
    cursor: pointer;
}

.hb-league-component-standings-tab-link.active-tab {
    color: var(--color-bulls-red);
    text-decoration: underline;
}
