.hb-league-component {
    width: 100%;
}

.hb-league-component-content {
    padding-inline: 12px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-md);
}

.hb-league-component-season {
    font-size: var(--font-size-sm);
    font-weight: bold;
}

.hb-league-component-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    row-gap: var(--gap-sm);
    column-gap: var(--gap-sm);
    width: 100%;
}

.hb-league-component-logo {
    background-color: var(--background-inverted-transparent);
    width: 100%;
    display: flex;
    justify-content: center;
    filter: drop-shadow(2px 1px 4px black);
    border: 1px solid var(--stroke-black);
}

.hb-league-component-standings {
    flex-direction: column;
    min-width: 300px;
    max-width: 460px;
    display: flex;

    @media only screen and (max-width: 756px) {
        width: 100%;
        max-width: 100%;
    }
}

.hb-league-component-logo img {
    max-width: 180px;
    padding: 10px;
}

.hb-league-component-description {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-md);
    min-width: 260px;

    @media only screen and (max-width: 756px) {
        width: 100%;
    }
}

.hb-league-component-games {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: var(--gap-sm);

    @media only screen and (max-width: 835px) {
        grid-template-columns: 1fr 1fr;
    }

    @media only screen and (max-width: 576px) {
        grid-template-columns: 1fr;
    }
}

.hb-league-component-standings-tab-link {
    font-size: var(--font-size-md);
    margin-left: 6px;
    margin-right: 6px;
    padding: 4px;
    cursor: pointer;
}

.hb-league-component-standings-tab-link.active-tab {
    color: var(--color-bulls-red);
    text-decoration: underline;
}
