.hb-tabs-component {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-md);
}

.hb-tabs-component-tab-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    row-gap: var(--gap-xs);
    column-gap: var(--gap-xs);
}

.hb-tabs-component-tab {
    border-bottom: 1px solid var(--color-light-gray);
    font-family: 'Neue Aachen Book', sans-serif;
}

.hb-tabs-component-tab-content.inactive-tab {
    display: none;
}

.hb-tabs-component-tab-content.active-tab {
    display: block;
}

.hb-tabs-component-tab-link {
    /* margin-inline: 6px; */
    cursor: pointer;
}
