html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit
}

:focus {
    outline:none !important;
}

@media (max-width: 992px) {
    .cd-hide-small {
        display: none !important
    }
}

@media (min-width: 993px) {
    .cd-hide-large {
        display: none !important
    }
}

.cd-row {
    display: flex;
    flex-wrap: wrap;
}

.cd-col {
    min-height: 1px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex: 0 0 100%;
    max-width: 100%;
}

.cd-block {
    position: relative;
    overflow: hidden;
}

@media (min-width: 577px) {
    .cd-col.m1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .cd-col.m2 {
        flex: 0 0 16.66666%;
        max-width: 16.66666%;
    }

    .cd-col.m3 {
        flex: 0 0 24.99999%;
        max-width: 24.99999%;
    }

    .cd-col.m4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .cd-col.m5 {
        flex: 0 0 41.66666%;
        max-width: 41.66666%;
    }

    .cd-col.m6 {
        flex: 0 0 49.99999%;
        max-width: 49.99999%;
    }

    .cd-col.m7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .cd-col.m8 {
        flex: 0 0 66.66666%;
        max-width: 66.66666%;
    }

    .cd-col.m9 {
        flex: 0 0 74.99999%;
        max-width: 74.99999%;
    }

    .cd-col.m10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .cd-col.m11 {
        flex: 0 0 91.66666%;
        max-width: 91.66666%;
    }

    .cd-col.m12 {
        flex: 0 0 99.99999%;
        max-width: 99.99999%;
    }
}

.cd-block-left .cd-block-content, .cd-block-left p, .cd-block-left h1, .cd-block-left h2, .cd-block-left h3, .cd-block-left h4, .cd-block-left h5, .cd-block-left h6 {
    text-align: left;
}

.cd-block-right .cd-block-content, .cd-block-right p, .cd-block-right h1, .cd-block-right h2, .cd-block-right h3, .cd-block-right h4, .cd-block-right h5, .cd-block-right h6 {
    text-align: right;
}

.cd-block-center .cd-block-content, .cd-block-center p, .cd-block-center h1, .cd-block-center h2, .cd-block-center h3, .cd-block-center h4, .cd-block-center h5, .cd-block-center h6 {
    text-align: center;
}

.cd-block-left .cd-tile-container {
    justify-content: flex-start;
}

.cd-block-right .cd-tile-container {
    justify-content: flex-end;
}

.cd-block-center .cd-tile-container {
    justify-content: center;
}

.cd-block-justify .cd-tile-container {
    justify-content: space-between;
}

.cd-block-expand .cd-block-content, .cd-block-expand p, .cd-block-expand h1, .cd-block-expand h2, .cd-block-expand h3, .cd-block-expand h4, .cd-block-expand h5, .cd-block-expand h6 {
    text-align: justify;
}

.cd-block-expand .cd-button {
    width: 100%;
}

.cd-section-content.cd-full-width .cd-row {
    max-width: initial;
}

@media (max-width: 576px) {
    .cd-block-mobile-left .cd-block-content, .cd-block-mobile-left p, .cd-block-mobile-left h1, .cd-block-mobile-left h2, .cd-block-mobile-left h3, .cd-block-mobile-left h4, .cd-block-mobile-left h5, .cd-block-mobile-left h6 {
        text-align: left;
    }

    .cd-block-mobile-right .cd-block-content, .cd-block-mobile-right p, .cd-block-mobile-right h1, .cd-block-mobile-right h2, .cd-block-mobile-right h3, .cd-block-mobile-right h4, .cd-block-mobile-right h5, .cd-block-mobile-right h6 {
        text-align: right;
    }

    .cd-block-mobile-center .cd-block-content, .cd-block-mobile-center p, .cd-block-mobile-center h1, .cd-block-mobile-center h2, .cd-block-mobile-center h3, .cd-block-mobile-center h4, .cd-block-mobile-center h5, .cd-block-mobile-center h6 {
        text-align: center;
    }

    .cd-block-mobile-expand .cd-block-content, .cd-block-mobile-expand p, .cd-block-mobile-expand h1, .cd-block-mobile-expand h2, .cd-block-mobile-expand h3, .cd-block-mobile-expand h4, .cd-block-mobile-expand h5, .cd-block-mobile-expand h6 {
        text-align: justify;
    }

    .cd-block-mobile-expand .cd-button {
        width: 100%;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}

html.with-featherlight {
    padding-right: 15px;
}

.cd-powered {
    padding: 20px !important;
}