video#hardbulls-banner-video::-webkit-media-controls-start-playback-button {
    display: none !important;
}

#hardbulls-banner-video-wrapper {
    width: 100%;
    min-height: 300px;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 480px;
    height: 45vh;
}

#hardbulls-banner-video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
}


.cd-header:has(.hardbulls-hero-banner[data-video="field"]) {
    background-image: url("https://www.hardbulls.com/clubdesk/wwwfiles/field_poster.webp");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.cd-header:has(.hardbulls-hero-banner[data-video="lineup"]) {
    background-image: url("https://www.hardbulls.com/clubdesk/wwwfiles/lineup_poster.webp");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}
