.hb-flag.flag-38 {
    display: inline-block;
    width: 38px;
}

.hb-flag::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.hb-flag.flag-ca {
    background: url(./assets/flags/ca.svg) 0 0/contain no-repeat;
}

.hb-flag.flag-de {
    background: url(./assets/flags/de.svg) 0 0/contain no-repeat;
}

.hb-flag.flag-jp {
    background: url(./assets/flags/jp.svg) 0 0/contain no-repeat;
}

.hb-flag.flag-nl {
    background: url(./assets/flags/nl.svg) 0 0/contain no-repeat;
}

.hb-flag.flag-do {
    background: url(./assets/flags/do.svg) 0 0/contain no-repeat;
}

.hb-flag.flag-at {
    background: url(./assets/flags/at.svg) 0 0/contain no-repeat;
}

.hb-flag.flag-us {
    background: url(./assets/flags/us.svg) 0 0/contain no-repeat;
}

.hb-flag.flag-ve {
    background: url(./assets/flags/ve.svg) 0 0/contain no-repeat;
}

.hb-flag.flag-it {
    background: url(./assets/flags/it.svg) 0 0/contain no-repeat;
}

.hb-flag.flag-kn {
    background: url(./assets/flags/kn.svg) 0 0/contain no-repeat;
}
