@font-face {
    font-family: 'Brush Script Std';
    src: url(assets/fonts/BrushScriptStd.woff2) format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Neue Aachen Bold";
    src: url(assets/fonts/NeueAachenBlack.woff2) format("woff2");
}

@font-face {
    font-family: "Neue Aachen Regular";
    src: url(assets/fonts/NeueAachenRegular.woff2) format("woff2");
}

@font-face {
    font-family: "Neue Aachen Book";
    src: url(assets/fonts/NeueAachenBook.woff2) format("woff2");
}
