
@font-face {
    font-family: "Neue Aachen Bold";
    src: url(assets/fonts/NeueAachenBlack.woff2) format("woff2");
}

@font-face {
    font-family: "Neue Aachen Regular";
    src: url(assets/fonts/NeueAachenRegular.woff2) format("woff2");
}

@font-face {
    font-family: "Neue Aachen Book";
    src: url(assets/fonts/NeueAachenBook.woff2) format("woff2");
}
