.hb-icon {
    display: inline-block;
    width: 1rem;
}

.hb-icon::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.hb-icon.bat-with-ball {
    background: url(./assets/icons/baseball-bat-with-ball.svg) 0 0/contain no-repeat;
}

.hb-icon.bat {
    background: url(./assets/icons/baseball-bat.svg) 0 0/contain no-repeat;
}

.hb-icon.glove {
    background: url(./assets/icons/baseball-glove.svg) 0 0/contain no-repeat;
}

.hb-icon.glove-with-ball {
    background: url(./assets/icons/baseball-glove-with-ball.svg) 0 0/contain no-repeat;
}

.hb-icon.field {
    background: url(./assets/icons/baseball-field.svg) 0 0/contain no-repeat;
}
