<!DOCTYPE html>
<html>
<head>
{{{baseHref}}}
{{{fragmentHeadStart}}}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}}</title>

    <!-- headIncludes -->
    <meta name="description" content="Der Baseballverein Hard Bulls stammt aus der Gemeinde Hard in Vorarlberg am Bodensee. Bereits 1991 gegründet, verfolgen die Bulls zwei Ziele: Sportlich werden wir uns langfristig im vorderen Drittel der 1. Baseball Bundesliga etablieren. Dazu bilden wir kontinuierlich sehr guten Nachwuchs aus.">
    <meta name="keywords" content="baseball, vorarlberg, sport, hard, bodensee, ballpark, bregenz, verein, baseballverein, bundesliga baseball, österreich, Hard Bulls Baseball Club,
Vorarlberg baseball, Austria baseball, Vorarlberg sports events, Austrian sports teams">
    <link rel="icon" href="fileservlet?inline=true&amp;type=image&amp;id=110">
    <link rel="icon" type="image/png" href="fileservlet?inline=true&amp;type=image&amp;id=109">
    <link rel="apple-touch-icon" href="fileservlet?inline=true&amp;type=image&amp;id=109">
    <meta name="msapplication-square150x150logo" content="fileservlet?inline=true&amp;type=image&amp;id=109">
    <meta name="msapplication-square310x310logo" content="fileservlet?inline=true&amp;type=image&amp;id=109">
    <meta name="msapplication-square70x70logo" content="fileservlet?inline=true&amp;type=image&amp;id=109">
    <meta name="msapplication-wide310x150logo" content="fileservlet?inline=true&amp;type=image&amp;id=109">

<!--    <link rel="stylesheet" href="genwwwfiles/normalize.css?v={{lastGenWwwFilesChange}}">-->
    <link rel="stylesheet" type="text/css" media="all" href="v_4.2.2/shared/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="v_4.2.2/shared/css/layout.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="v_4.2.2/shared/css/tinyMceContent.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="v_4.2.2/webpage/css/admin.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="/clubdesk/webpage/fontawesome_6_1_1/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="/clubdesk/webpage/lightbox/featherlight-1.7.13.min.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="/clubdesk/webpage/aos/aos-2.3.2.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="/clubdesk/webpage/owl/css/owl.carousel-2.3.4.min.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="/clubdesk/webpage/owl/css/owl.theme.default-2.3.4.min.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="/clubdesk/webpage/owl/css/animate-1.0.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="v_4.2.2/content.css?v=1704558523766"/>

    <script type="text/javascript" src="v_4.2.2/webpage/jquery_3_6_0/jquery-3.6.0.min.js"></script>
<!--    <script type="text/javascript" src="genwwwfiles/jquery.js?v={{lastGenWwwFilesChange}}"></script>-->

    <link rel="stylesheet" href="/clubdesk/webpage/cookieconsent/cookieconsent-3.1.1.min.css">
    <!-- /headIncludes -->

    <link rel="stylesheet" href="genwwwfiles/page.css?v={{lastGenWwwFilesChange}}">

{{{fragmentHeadEnd}}}
</head>
<body class="{{{bodyClasses}}}">
{{{fragmentBodyStart}}}
{{{pageBackground}}}
<nav>
    <div class="cd-navigation-bar-container">
        <div class="cd-navigation-bar">
            <div class="cd-navigation-bar-content">
                <div class="cd-club-logo-and-name">
<a class="cd-club-logo-link" href="{{{homePath}}}"><img class="cd-club-logo" src="{{logoUrl}}"></a>

</div>

                <div class="cd-filler"></div>
                <div class="cd-login-link-desktop">
    {{#loggedIn}}
    <a class="cd-link-login" href="{{{logOutUrl}}}"></a>
    {{/loggedIn}}
    {{^loggedIn}}
    <a class="cd-link-login" href="{{{logInUrl}}}"></a>
    {{/loggedIn}}
</div>
                <a class="cd-megamenu-button">
    <i class="fas fa-bars"></i> Menü
</a>
            </div>
            <div class="scroll-offset-desktop scroll-offset-mobile">
            <div class="cd-megamenu-container cd-menu">
    <div class="cd-megamenu">
        <div class="cd-megamenu-content">
            <div class="cd-menu-level-1">
                <ul>
                    {{#menuItems}}
                        <li>
                            <a href="{{url}}{{params}}" {{#inNewWindow}}target="_blank"{{/inNewWindow}} data-id="{{id}}" data-parent-id="{{parentId}}" class="cd-menu-item {{#active}}cd-menu-active{{/active}} {{#selected}}cd-menu-selected{{/selected}}">{{title}}</a>
                            {{^children.empty}}
                                <div class="cd-menu-level-2">
                                    <ul>
                                        {{#children}}
                                            <li>
                                                <a href="{{url}}{{params}}" {{#inNewWindow}}target="_blank"{{/inNewWindow}} data-id="{{id}}" data-parent-id="{{parentId}}" class="cd-menu-item {{#active}}cd-menu-active{{/active}} {{#selected}}cd-menu-selected{{/selected}}">{{title}}</a>
                                                {{^children.empty}}
                                                    <div class="cd-menu-level-3">
                                                        <ul>
                                                            {{#children}}
                                                                <li>
                                                                    <a href="{{url}}{{params}}" {{#inNewWindow}}target="_blank"{{/inNewWindow}} data-id="{{id}}" data-parent-id="{{parentId}}" class="cd-menu-item {{#active}}cd-menu-active{{/active}} {{#selected}}cd-menu-selected{{/selected}}">{{title}}</a>
                                                                </li>
                                                            {{/children}}
                                                        </ul>
                                                    </div>
                                                {{/children.empty}}
                                            </li>
                                        {{/children}}
                                    </ul>
                                </div>
                            {{/children.empty}}
                        </li>
                    {{/menuItems}}
                </ul>
            </div>
        </div>
    </div>
</div>
            </div>
        </div>
    </div>
</nav>

<div class="main {{{mainClasses}}}">

        <div class="cd-totop-button" onclick="topFunction()">
        <i class="fas fa-chevron-up"></i>
    </div>


    <div class="header-wrapper">
    {{{header}}}
    </div>

{{#sidebar}}
<div class="columns-wrapper">
    <div class="columns-margins"></div>
    <div class="columns">
        <div class="content-wrapper">
            {{{content}}}
        </div>

        <aside class="sidebar-wrapper">
            {{{sidebar}}}
        </aside>
    </div>
    <div class="columns-margins"></div>
</div>
{{/sidebar}}

{{^sidebar}}
<div class="content-wrapper">
{{{content}}}
</div>
{{/sidebar}}

<footer>
    {{{footer}}}
</footer>
</div>

<!-- bodyEndIncludes -->
<script type="text/javascript" src="webpage/lightbox/featherlight-1.7.13.min.js"></script>
<script type="text/javascript" src="webpage/aos/aos-2.3.2.js"></script>
<script type="text/javascript" src="webpage/aos/aos-init-2.3.2.js"></script>
<script type="text/javascript" src="webpage/lightbox/featherlight-1.7.13.min.js"></script>
<script type="text/javascript" src="webpage/owl/owl.carousel-2.3.4-cd.js"></script>
<script type="text/javascript" src="webpage/fixes/ofi.js"></script>
<script type="text/javascript" src="webpage/fixes/captions.js"></script>
<script type="text/javascript">
    objectFitImages('.cd-image-content img');
    adjustCaptionContainer();
</script>
<!-- /bodyEndIncludes -->

<script src="/clubdesk/webpage/cookieconsent/cookieconsent-3.1.1.min.js" type="text/javascript"></script>

<script src="genwwwfiles/page.js?v={{lastGenWwwFilesChange}}" type="text/javascript"></script>

{{#cookieConsent.enabled}}
<script>
function deleteAllCookies() {
    var cookies = document.cookie.split("; ");
    for (var c = 0; c < cookies.length; c++) {
        var d = window.location.hostname.split(".");
        while (d.length > 0) {
            var cookieBase = encodeURIComponent(cookies[c].split(";")[0].split("=")[0]) + '=; expires=Thu, 01-Jan-1970 00:00:01 GMT; domain=' + d.join('.') + ' ;path=';
            var p = location.pathname.split('/');
            document.cookie = cookieBase + '/';
            while (p.length > 0) {
                document.cookie = cookieBase + p.join('/');
                p.pop();
            };
            d.shift();
        }
    }
}

window.cookieconsent.initialise({
    palette: null,
    "content": {
        "message": "{{cookieConsent.message}}",
        "dismiss": "{{cookieConsent.dismissLabel}}",
        "allow": "{{cookieConsent.allowLabel}}",
        "deny": "{{cookieConsent.denyLabel}}",
        "link": "{{cookieConsent.linkLabel}}",
        "href": "{{cookieConsent.linkUrl}}"
    },
    position: "{{cookieConsent.position}}",
    type: "{{cookieConsent.type}}",
    revokable: true,
    onStatusChange: function(status) {
        if (!this.hasConsented()) {
            deleteAllCookies();
        }
        location.reload();
    },
    cookie: {
        name: "{{cookieConsent.cookieName}}"
    }
});
</script>
{{/cookieConsent.enabled}}
{{{fragmentBodyEnd}}}
</body>
</html>
